{{ define "subnavigation" }}
<div class="bg-body-tertiary py-2">
  <div class="container">
    <div class="row g-1 g-sm-3">
      <div class="col col-sm-8 col-md-7 col-lg-5 ms-auto">
        <div class="input-group">
          <input id="conversion-input" class="form-control" type="text">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Studs
          </button>
          <div id="conversion-unit-picker" class="dropdown-menu dropdown-menu-end py-0" style="--bs-dropdown-min-width:20rem">
            <div class="row g-0">
              {{ $i := 0 -}}
              {{ range .Params.layout -}}
              <div class="col-6">
                {{ range . -}}
                <div class="border border-1">
                  {{ range . -}}
                  {{ with index site.Data.entries.units.lengths . }}
                  <a class="dropdown-item" href="#" data-unit="{{ .one }}" data-factor="{{ .factor }}">
                    {{ .title }}
                  </a>
                  {{- end }}
                  {{- end }}
                </div>
                {{- end }}
              </div>
              {{- end }}
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm-4 col-md-3 col-lg-2 me-auto">
        <div class="input-group">
          <input id="conversion-input" class="form-control" type="text" value="&times; 1">
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Pick a scale</span>
          </button>
          <div id="conversion-scale-picker" class="dropdown-menu dropdown-menu-end py-0" style="--bs-dropdown-min-width:20rem">
            <table class="table table-sm table-bordered w-100 mb-0">
              <tr>
                <th><small>Life Size</small></th>
                <td colspan="2"><a class="dropdown-item" href="#">&times; 1 <i>(no scaling)</i></a></td>
              </tr>
              <tr>
                <th><small>Miniland</small></th>
                <td><a class="dropdown-item" href="#">&times; 17</a></td>
                <td><a class="dropdown-item" href="#">&divide; 17</a></td>
              </tr>
              <tr>
                <th><small>Friends</small></th>
                <td><a class="dropdown-item" href="#">&times; 38</a></td>
                <td><a class="dropdown-item" href="#">&divide; 38</a></td>
              </tr>
              <tr>
                <th><small>Minifig</small></th>
                <td><a class="dropdown-item" href="#">&times; 42</a></td>
                <td><a class="dropdown-item" href="#">&divide; 42</a></td>
              </tr>
              <tr>
                <th><small>Microfig</small></th>
                <td><a class="dropdown-item" href="#">&times; 80</a></td>
                <td><a class="dropdown-item" href="#">&divide; 80</a></td>
              </tr>
              <tr>
                <th><small>Minifig Baby</small></th>
                <td><a class="dropdown-item" href="#">&times; 100</a></td>
                <td><a class="dropdown-item" href="#">&divide; 100</a></td>
              </tr>
              <tr>
                <th><small>Four-Plate-Fig</small></th>
                <td><a class="dropdown-item" href="#">&times; 120</a></td>
                <td><a class="dropdown-item" href="#">&divide; 120</a></td>
              </tr>
              <tr>
                <th><small>Micropolis</small></th>
                <td><a class="dropdown-item" href="#">&times; 288</a></td>
                <td><a class="dropdown-item" href="#">&divide; 288</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container">
  <div id="conversion-results" class="row">
    {{ range .Params.layout -}}
    <div class="col col-12 col-md-6 col-xl-5 col-xxl-6 mx-auto">
      <div class="row">
        {{ range . -}}
        <div class="col col-12 col-xxl-6 mb-3">
          {{ range . -}}
          {{ with index site.Data.entries.units.lengths . -}}
          <div class="input-group">
            <span class="input-group-text w-50">{{ .title }}</span>
            <input id="conversion-result-{{ .one }} w-50" class="form-control" type="text" data-factor="{{ .factor }}" readonly>
            <button class="btn btn-outline-secondary w-auto" type="button" id="copy-result-{{ .one }}">&#x1F4CB;</button>
            <button class="d-none btn btn-primary" type="button" id="pick-result-{{ .one }}">&#11180;</button>
          </div>
          {{- end }}
          {{- end }}      
        </div>
        {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
</div>

{{- $js := resources.Get "js/unit-converter.js" }}
<script>
  {{ $js.Content | safe.JS }}
</script>
{{ end }}