{{ define "subnavigation" }}
<div class="bg-body-tertiary py-2">
  <div class="container">
    <div class="row g-1 g-sm-3">
      <div class="col-12 col-sm-9 col-md-7 col-lg-5 ms-auto">
        <div class="input-group">
          <input id="conversion-number" class="form-control" type="number" placeholder="Enter length..." data-factor="0">
          <button id="conversion-unit" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-factor="20">
            Studs
          </button>
          <div id="conversion-units" class="dropdown-menu dropdown-menu-end py-0" style="--bs-dropdown-min-width:20rem">
            <div class="row g-0">
              {{ $i := 0 -}}
              {{ range .Params.layout -}}
              <div class="col-6">
                {{ range . -}}
                <div class="border border-1">
                  {{ range . -}}
                  {{ with index site.Data.entries.units.lengths . -}}
                  <a class="dropdown-item" href="#" data-factor="{{ .factor }}">
                    {{ .title }}
                  </a>
                  {{- end }}
                  {{- end }}
                </div>
                {{- end }}
              </div>
              {{- end }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2 ms-auto ms-sm-0 me-sm-auto">
        <div class="input-group">
          <input id="conversion-scale" class="form-control" type="text" value="&times; 1" data-factor="1">
          <button id="conversion-scale-btn" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Pick a scale</span>
          </button>
          <div id="conversion-scales" class="dropdown-menu dropdown-menu-end py-0" style="--bs-dropdown-min-width:20rem">
            <div class="row g-0">
              <div class="col-6"><span class="dropdown-item text-bg-dark">Life Size</span></div>
              <div class="col-6"><a class="dropdown-item" href="#" data-factor="1">&times; 1 <i>(no scaling)</i></a></div>
            </div>
            {{ range sort site.Data.entries.units.scales "factor" "asc" -}}
            <div class="row g-0">
              <div class="col-6"><span class="dropdown-item text-bg-dark">{{ .title }}</span></div>
              <div class="col-3"><a class="dropdown-item" href="#" data-factor="{{ .factor }}">&times; {{ .factor }}</a></div>
              <div class="col-3"><a class="dropdown-item" href="#" data-factor="{{ div 1.0 .factor }}">&divide; {{ .factor }}</a></div>
            </div>
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container">
  <div id="conversion-results" class="row">
    {{ range .Params.layout -}}
    <div class="col col-12 col-md-6 col-xl-5 col-xxl-6 mx-auto">
      <div class="row">
        {{ range . -}}
        <div class="col col-12 col-xxl-6 mb-3">
          {{ range . -}}
          {{ with index site.Data.entries.units.lengths . -}}
          <div class="input-group">
            <span class="input-group-text bg-secondary-subtle z-1">{{ .title }}</span>
            <input id="conversion-result-{{ .one }}" class="form-control" type="text" data-factor="{{ .factor }}" readonly>
          </div>
          {{- end }}
          {{- end }}      
        </div>
        {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
</div>

{{- $js := resources.Get "js/unit-converter.js" }}
<script>
  {{ $js.Content | safe.JS }}
</script>
{{ end }}