# API for fetching part details/images automatically;
# Free key available at https://rebrickable.com/api/
REBRICKABLE_API_KEY=

# API for fetching link metadata from walled-gardens;
# Free key available at https://www.peekalink.io/
PEEKALINK_API_KEY=

# API for fetching link metadata on "normal" pages;
# Optional, payed keys available at https://microlink.io/pricing
MICROLINK_API_KEY=

# API for minifying PNG images;
# Optional, free key available at https://tinify.com/
TINYPNG_API_KEY=

# Path to binaries of LeoCAD and LDView;
# Only needed if neither under PATH nor installed via flatpak
#LEOCAD_BIN=
#LDVIEW_BIN=
