{{/* Convert size params into short-/longtext */}}
{{- $units  := site.Data.entries.units.lengths -}}
{{- $size   := . -}}
{{- $result := dict -}}

{{- $short := slice -}}
{{- $long  := slice -}}
{{- $nbsp  := "\u00A0" -}}
{{- range $size -}}
  {{- $value := . | replaceRE `[^0-9]` "" -}}
  {{- $key   := . | replaceRE `[0-9]` "" -}}
  {{- $unit  := index $units $key -}}
  {{- $label := cond (eq $value "1") $unit.one $unit.many -}}

  {{- $short = $short | append (print $value $key) -}}
  {{- $long  = $long  | append (print $value $nbsp $label) -}}
{{- end -}}

{{- $times := print " ×" $nbsp -}}
{{- $short = delimit $short $times -}}
{{- $long  = delimit $long  $times -}}
{{- return dict "short" $short "long" $long -}}