{{- $id    := .id    -}}
{{- $items := .items -}}
{{- $class := .class -}}

<div id="nav-{{ $id }}" class="dropdown {{ $class }}">
  <a id="nav-label-{{ $id }}" class="btn dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
    <span>{{ index (index .items 0) "title" }}</span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="nav-label-{{ $id }}">
    {{- range $items }}
    <li>
      <a id="nav-{{ $id }}-{{ .id }}" class="dropdown-item" data-base="{{ .parent }}" href="#">
        {{ if .icon -}}
        <img  src="/icons/icon-{{ with .parent }}{{ . }}-{{ end }}{{ $id }}-{{ .id }}.svg" 
              width=25 
              height=25
              onerror="this.src='/icon.svg'; this.style='filter: grayscale(100%);'"
              class="pe-2" >
        {{ else }}
        <i class="no-icon"></i>
        {{ end -}}
        <span>{{ .title }}</span>
      </a>
    </li>
    {{- end }}
  </ul>
</div>