{{ $dropdowns := newScratch -}}
{{ $dropdowns.Add "base"  slice -}}
{{ $dropdowns.Add "type"  slice -}}
{{ $dropdowns.Add "value" slice -}}
{{ $dropdowns.Add "sort"  slice -}}

{{ $dropdowns.Add "base"  (dict "id" "__any" "title" "All Entries" ) -}}
{{ $dropdowns.Add "type"  (dict "id" "__any" "title" "All Types" ) -}}
{{ $dropdowns.Add "value" (dict "id" "__any" "title" "All Values" ) -}}

{{ range $filter := site.Data.entries.filters -}}
  {{ $dropdowns.Add "base" (dict "id" $filter.slug "title" $filter.title "icon" true) -}}
  {{ range .types -}}
    {{ $dropdowns.Add "type" (dict "parent" $filter.slug "id" .slug "title" .title  "icon" true) -}}
  {{ end -}}
  {{ range .values -}}
    {{ $dropdowns.Add "value" (dict "parent" $filter.slug "id" .slug "title" .title ) -}}
  {{ end -}}
{{ end -}}
{{ $dropdowns.Add "value" (dict "id" "__else" "title" "..." ) -}}
{{ range site.Data.entries.sortings.options -}}
  {{ $dropdowns.Add "sort" (dict "id" .slug "title" .title ) -}}
{{ end -}}

<nav class="navbar navbar-expand-sm bg-body-tertiary py-0">
  <div class="container">
    <ul id="filter-nav" class="navbar-nav w-100">
      {{- partial "navigation/dropdown.html" (dict "id" "base"  "items" ($dropdowns.Get "base")) -}}
      {{- partial "navigation/dropdown.html" (dict "id" "type"  "items" ($dropdowns.Get "type")) -}}
      {{- partial "navigation/dropdown.html" (dict "id" "value" "items" ($dropdowns.Get "value")) -}}
      {{- partial "navigation/dropdown.html" (dict "id" "sort"  "items" ($dropdowns.Get "sort") "class" "ms-auto" ) -}}
    </ul>
  </div>
</nav>