<div class="text-bg-warning text-center">This preview of the new <a href="https://brick.camp">Brick.Camp</a><br> website is still under construction.</div>
<nav class="bg-body-secondary border-bottom">
  <div id="main-nav" class="container">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="nav col-12 my-2 justify-content-between">
        <a href="/" title="Go to Homepage" class="nav-link link-body-emphasis">
          <img src="/icon.svg" class="d-block mx-auto mb-1" width=40 height=40 aria-hidden="true">
        </a>

        <div class="navbar">
          <a class="nav-link" href="/tools/length-converter">Unit-Converter</a>
        </div>
        
        <button id="darkmode-toggle" class="btn btn-outline-success border-0 shadow-none" title="Toggle Dark Mode" type="button">
          <span class="dark-only">🌙</span>
          <span class="light-only">☀️</span>
        </button>
      </div>
    </div>
  </div>
</nav>