{{/* Scope tabs and filter dropdowns, rendered from the scope catalog */}}
{{- $catalog := partial "scopes/getCatalog" . -}}
{{- $scopes  := $catalog.scopes -}}
{{- $dims    := $catalog.dimensions -}}
{{- $any     := "__any" -}}

{{- $types  := slice (dict "id" $any "title" $dims.type.anyTitle) -}}
{{- $values := slice (dict "id" $any "title" $dims.value.anyTitle) -}}
{{- range $scope := $scopes -}}
  {{- range $scope.types -}}
    {{- $types = $types | append (dict
        "parent" $scope.slug "id" .slug "title" .title "icon" true
    ) -}}
  {{- end -}}
  {{- range $scope.values -}}
    {{- $values = $values | append (dict
        "parent" $scope.slug "id" .slug "title" .title
    ) -}}
  {{- end -}}
{{- end -}}

{{- $sizes := slice (dict "id" $any "title" $dims.size.anyTitle) -}}
{{- range $dims.size.options -}}
  {{- $sizes = $sizes | append (dict "id" .slug "title" .title) -}}
{{- end -}}

{{- $sorts := slice -}}
{{- range $dims.sort.options -}}
  {{- $sorts = $sorts | append (dict "id" .slug "title" .title) -}}
{{- end -}}

<div class="bg-body-tertiary tabs-border-bottom">
  <div class="container">
    <div class="overflow-x-auto overflow-y-hidden" tabindex="-1">
      <ul id="scope-tabs" class="nav nav-tabs flex-nowrap mt-1 mx-1 border-bottom-0">
        {{- range $scope := $scopes }}
        <li class="nav-item">
          <a
            id="scope-{{ $scope.slug }}"
            class="nav-link text-body{{ if eq $scope.slug $any }} active{{ end }}"
            data-dim="base"
            data-value="{{ $scope.slug }}"
            href="#">
            {{ $scope.title }}
          </a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>

<div class="bg-body sticky-top border-bottom-on-sticky">
  <div class="container">
    <nav id="filter-nav" class="d-flex flex-row flex-nowrap overflow-x-auto w-100 py-1">
      {{- partial "nav/dropdown.html" (dict "id" "type"  "items" $types) -}}
      {{- partial "nav/dropdown.html" (dict "id" "value" "items" $values) -}}
      {{- partial "nav/dropdown.html" (dict "id" "size"  "items" $sizes) -}}
      {{- partial "nav/dropdown.html" (dict "id" "sort"  "items" $sorts "class" "ms-auto" ) -}}
    </nav>
  </div>
</div>
