.dark-only,
.light-only {
  display: none;
}
:root[data-bs-theme="dark"] .dark-only {
  display: initial;
}
:root[data-bs-theme="light"] .light-only {
  display: initial;
}

:root[data-bs-theme="dark"] img.dark-filter {
  filter: brightness(90%);
}

:root[data-bs-theme="dark"] .bg-white {
  --bs-bg-opacity: 0.9;
}
