:root {
  --bs-border-radius: 0;
}

body {
  min-width: 350px;
}

#filter-nav .dropdown-toggle {
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1021;
}

.dropdown-item .no-icon {
  display: inline-block;
  width: 25px;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.filter-grayscale {
  filter: grayscale(100%) !important;
}

.link-preview .bg-image {
  min-height: 150px;
  max-width: 150px;
  position: relative;
  overflow: hidden;
}

.link-preview .bg-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--img-url);
  background-size: cover;
  background-position: center;
  background-color: var(--img-main-color);
  filter: blur(5px);
  transform: scale(1.1);
  z-index: 0;
}

.link-preview .bg-image > div {
  position: absolute;
  inset: 0;
  background-image: var(--img-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  z-index: 1;
}

@media (max-width: 575.98px) {
  #entries .card {
    --bs-card-cap-padding-x: 0.5rem;
    --bs-card-cap-padding-y: 0.25rem;
    font-size: 14px;
  }
}

#conversion-results .input-group-text {
  min-width: 9em;
}

#entry-metadata b {
  display: inline-block;
  min-width: 8em;
}

#toTop {
  bottom: 20px; 
  right: 20px; 
  display: none;
  z-index: 4;
}