:root {
  --bs-border-radius: 0;
}

body {
  min-width: 350px;
}

#filter-nav .dropdown-toggle {
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
}

.dropdown-item .no-icon {
  display: inline-block;
  width: 25px;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.filter-grayscale {
  filter: grayscale(100%) !important;
}

@media (max-width: 575.98px) {
  #entries .card {
    --bs-card-cap-padding-x: 0.5rem;
    --bs-card-cap-padding-y: 0.25rem;
    font-size: 14px;
  }
}

#conversion-results .input-group-text {
  min-width: 9em;
}

.container.position-relative::after,
.container.position-relative::before {
  content: "";
  position: absolute;
  pointer-events: none;
  bottom: 0;
  height: 100%;
  z-index: 1;
}
.container.position-relative::before {
  background-image: linear-gradient(270deg,hsla(0,0%,100%,0),var(--bs-tertiary-bg));
  left: calc(var(--bs-gutter-x) * .5);
  width: 10px;
}
.container.position-relative::after {
  background-image: linear-gradient(90deg,hsla(0,0%,100%,0),var(--bs-tertiary-bg));
  right: calc(var(--bs-gutter-x) * .5);
  width: 20px;
}

#toTop {
  bottom: 20px; 
  right: 20px; 
  display: none;
  z-index: 4;
}