:root {
  --bs-border-radius: 0;
}

body {
  min-width: 350px;
}

.dropdown-item .no-icon {
  display: inline-block;
  width: 25px;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.filter-grayscale {
  filter: grayscale(100%) !important;
}

#toTop {
  bottom: 20px; 
  right: 20px; 
  display: none;
  z-index: 4;
}