{{ $date  := .date -}}
{{ $link  := .link -}}
{{ $title := .title -}}
<div class="card h-100 text-center">
  <div class="class-body ratio ratio-1x1 overflow-hidden">
    <div class="h-100 d-flex flex-column bg-white">
      <div class="text-bg-danger">{{ $date.Format "Jan 2006" }}</div>
      <div class="flex-fill d-flex">
        <svg viewBox="0 0 30 14" class="flex-fill">
          <text x="50%" y="60%" dominant-baseline="middle" text-anchor="middle">{{ $date.Format "02" }}</text>
        </svg>
      </div>
      <small class="d-block text-dark">{{ $date.Format "Monday" }}</small>
    </div>
  </div>
  <small class="card-footer p-1">
    {{ $title }}
    <a href="{{ $link }}" class="stretched-link" title="$title" target="_blank" rel="noopener"></a>
  </small>
</div>