{{/* ******************************* */}}
{{ $url         := .Get "url"         -}}
{{ $title       := .Get "title"       -}}
{{ $date        := .Get "date"        -}}
{{ $author      := .Get "author"      -}}
{{ $publisher   := .Get "publisher"   -}}
{{ $imageURL    := .Get "image"       -}}
{{ $description := .Get "description" -}}
{{/* ******************************* */}}

{{/* check URL */}}
{{ with $url -}}
  {{ $url = urls.Parse . -}}
{{ else -}}
  {{ errorf "Linkbox shortcode must have a url parameter." -}}  
{{ end -}}
{{ if not $url.IsAbs -}}
  {{ errorf "Linkbox can't link non-absolute url '%q'." $url.String -}}
{{ end -}}

{{/* set default values */}}
{{ $title     = $title     | default "Untitled" -}}
{{ $date      = $date      | default (dateFormat "2023-10-15" .Page.Lastmod) -}}
{{ $author    = $author    | default "Unknown author" -}}
{{ $publisher = $publisher | default $url.Hostname -}}
{{ $imageURL  = $imageURL  | default "/icons/icon-image-not-found.png" -}}

{{/* render link preview */}}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-3 col-lg-2 rounded-start bg-image" style="background-image: url({{ $imageURL }})">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">
          {{ $title }}
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          {{ $author }} ({{ $date }}, {{ $publisher }})
        </h6>
        <p class="card-text">
          {{ with $description -}}
            <p>{{ . }}</p>
          {{ else -}}
            <i>No description provided - follow link for details</i>
          {{- end }}          
        </p>
        <a href="{{ $url.String }}" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
