{{ define "main" }}
<div class="container-lg">
  <div class="row">
    <div class="col col-12">
      <h1 class="text-center mb-2">{{ .Title }}</h1>
    </div>
    <div class="col col-12 col-sm-6">
      <div class="card mb-3">
        {{ with .Resources.GetMatch "image.*" -}}
        {{/* create minified image for entry lists */}}
        {{ $minify := .Process "fill 250x250 webp" -}}
        {{ $naming := resources.Copy (print $.Path "/__image-min.webp") $minify -}}
        {{ $triggerSaving := $naming.RelPermalink -}}
        {{/* ------------------------------------- */}}
        <img src="{{ .RelPermalink }}" class="card-img dark-filter" alt="image of the building technique">
        <div class="card-img-overlay">
          <small class="position-absolute bottom-0 end-0 px-1 bg-light-subtle" style="opacity: 0.75;">
            {{ with .Params.Copyright }}
              <span class="pr-1">©</span><span>{{ . }}</span>
            {{ end }}
            {{ with .Params.Reference }}
              <span class="card-link"><a href="{{ . }}">Source</a></span>
            {{ end }}
          </small>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="col col-12 col-sm-6">
      <div class="row row-cols-4 row-cols-sm-3 row-cols-xl-4 g-2 mb-2">
        {{ with .GitInfo }}
          {{ $link := print "https://github.com/brickcamp/site/commit/" .Hash -}}
          {{ $created := dict 
              "date"   .CommitDate 
              "link"   $link 
              "title" "Updated" -}}
        <div class="col">
          {{ partial "card/date.html" $created }}
        </div>
        {{ end }}

        {{ with .Resources.GetMatch "model.ldr" -}}
        <div class="col">
          {{ partial "card/download.html" (dict 
              "link"  .
              "name"  (print (path.BaseName $.Path) ".ldr")
              "title" "CAD file") }}
        </div>
        {{- end }}

        {{- with .Params.size }}
        <div class="col">
          {{ partial "card/size.html" . }}
        </div>
        {{ end }}

        {{ with .GetTerms "parts" -}}
        {{ range . -}}
        <div class="col">
          {{ partial "card/part.html" . }}
        </div>
        {{- end }}
        {{- end }}
      </div>
    </div>
  </div>
  {{ .Content }}
</div>
{{ end }}