{{ define "main" }}
<div class="container">
  <div id="entries" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-2 g-md-3">
  </div>
</div>

<template id="entry-template">
  <div class="col">
    <div class="card h-100">
      <div class="ratio ratio-1x1" aria-hidden="true">
        <img class="insert-image-src card-img-top object-fit-cover dark-filter" alt="" loading="lazy">
      </div>
      <a class="insert-title card-footer text-center h-100 d-flex justify-content-center align-items-center lh-sm insert-link stretched-link text-decoration-none z-1">
      </a>
    </div>
  </div>
</template>

{{- $js := resources.Get "js/home.js" }}
<script>
  {{ $js.Content | safe.JS }}
</script>
{{ end }}