{{/* Returns one CSV row for an entry
     Read back by parseEntryRow() in assets/js/home/lookup.js

     Params: page (required), filter (optional). */}}
{{- $page   := .page -}}
{{- $filter := .filter | default false -}}

{{- $size   := index (partial "entries/getCalculatedFields" $page) "_sizeType" -}}
{{- $values := "" -}}
{{- with $filter -}}
  {{- if eq .from "tags" -}}
    {{- $values = partial "entries/getScopedTagValues" (dict "page" $page "filter" .) -}}
  {{- end -}}
{{- end -}}

{{- return partial "csv/getRow" (slice $page.RelPermalink $page.Title $size $values) -}}
