{{ $entry := . }}

<div class="card mb-3">
  {{ with $entry.Resources.GetMatch "image.*" -}}
    {{/* generate minified image for entry list */}}
    {{ $minify := .Process "fill 250x250 webp" -}}
    {{ $naming := resources.Copy (print $.RelPermalink "__image-min.webp") $minify -}}
    {{ $triggerSaving := $naming.RelPermalink -}}

    {{/* render original image for single entry */}}
    <img alt="image of the building technique"
         class="card-img img-fluid dark-filter" 
         src="{{ .RelPermalink }}" 
         width="{{ .Width }}" height="{{ .Height }}">
  {{ end }}
</div>